.company-history {
    display: flex;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    &__image {
        width: 320px;
        height: 565px;
        display: block;
        background: url("../images/manikin.jpg") no-repeat;
        background-size: cover;
        flex-shrink: 0;
        background-position: right;

        &--second {
            background: url("../images/scarf.jpg") no-repeat;
            background-size: 177%;
        }
    }
    &__title {
        color: $color-yellow;
        border-color: $color-yellow;
        margin-bottom: 20px;
    }
    &__content {
        background: $color-dark-blue;
        color: $color-white;
        padding: 10px;
    }
    &__text {
        font: 20px $font;
    }
}

@include phone {
    .company-history {
        &__image {
            display: none;
        }
    }
}