.dropdown {
    padding: 10px 0 10px 21px;
    display: none;
    flex-direction: column;

    &__item {
        margin-bottom: 16px;
        &:last-child {
            margin: 0;
        }
    }
    &--header {
        position: absolute;
        left: -12px;
        top: 36px;
        padding: 13px 0 0;
        background: $color-dark-blue;
        border-top: 1px gold solid;
        min-width: 100px;
        z-index: 100;
        column-count: 2;
        .dropdown__link {
            font-size: 14px;
            color: $color-white;
        }
        .dropdown__item {
            padding-left: 15px;
            margin-bottom: 20px;
            min-width: 100px;
            box-sizing: border-box;
        }
    }
    &__link {
        font: 20px $font;
        color: $color-dark-green;
        &:hover {
            color: $color-yellow;
        }
    }
    .selected & {
        display: flex;
    }
}

@include tablet {
    .dropdown {
        &--header {
            .dropdown__link {
                color: $color-dark-blue;
            }
            .dropdown__item {
                margin-bottom: 25px;
            }
        }
    }
}