.filters {
    width: 222px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid $color-yellow;
    padding: 16px 20px;
    height: 100%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@include phone {
    .filters {
        width: 100%;
    }
}