.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    &__items {
        padding: 65px 9999px;
        margin: 0 -9999px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $color-dark-blue;
    }
    &__copyright {
        background: #cfa659;
        width: 100%;
        text-align: center;
        font-size: 24px;
        color: $color-white;
        padding: 36px 9999px 42px;
        margin: 0 -9999px;
    }
}