.gallery {
    width: 79.7%;
    margin-left: 10px;
    &__sort {
        background: $color-dark-green;
        width: 100%;
        height: 40px;
        color: $color-white;
        display: flex;
        align-items: center;

        margin-bottom: 37px;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        padding: 0 0 0 26px;
        box-sizing: border-box;
        .gallery__title {
            display: flex;
            align-items: center;
        }
        .arrow {
            background-position: 0 -442px;
            margin-left: 20px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__items {
        margin-bottom: 41px;
        position: relative;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        .availability {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 66px;
            height: 66px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: $color-white;
            background: $color-dark-green;
            border-radius: 50%;

        }
        & > .colors {
            position: absolute;
            top: 143px;
            left: 5px;
            .colors__list {
                flex-direction: column;
            }
            .colors__items {
                margin: 0 0 5px 0;
            }
        }
        &--selected {
            .product-card {
                display: flex;
            }
        }
        &:hover .gallery__modal {
            display: flex;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color-yellow;
        font: 20px $font;
        color: $color-dark-green;
        img {
            width: 219px;
            height: 261px;
            border-bottom: 1px solid $color-yellow;
            margin-bottom: 20px;
        }
        .price {
            font-size: 24px;
            color: $color-yellow;
            margin-bottom: 20px;
        }
        .title {
            margin-bottom: 2px;
            font: 20px $font;
            border: 0;
            text-transform: none;
        }


    }
    &__modal {
        display: none;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 219px;
        height: 261px;
        background: rgba(255,255,255,0.7);
        align-items: center;
        justify-content: center;
        .to-basket,
        .more-info {
            margin-top: -5px;
            width: 51px;
            height: 51px;
            display: block;
            cursor: pointer;
        }
        .to-basket {
            background-position:  0 -479px;
            margin-right: 25px;
        }
        .more-info {
            background-position:  0 -562px;
        }
    }
}

@include width-1200 {
    .gallery {
        &__list {
            justify-content: space-around;
        }
    }
}
@include phone {
    .gallery {
        width: 100%;
    }
}