.header-nav {
  display: flex;
  justify-content: space-between;
  width: 37%;
  margin-left: 25px;
  margin-top: 20px;
  &__link {
    color: $color-white;
    font: 18px $font_roman;

  }
  &__item {
    position: relative;
    padding-bottom: 20px;
    &:hover .header-nav__link {
      color: $color-yellow;
    }
    &:hover .dropdown {
      display: flex;
    }
  }
}