.header-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 51px;
    &:before,&:after {
        content: '';
        background: url("../images/header-bg.png") no-repeat;
        height: 100%;
        width: 116px;
        position: absolute;
        top: 0;

        background-size: contain;
        z-index: 1;
    }
    &:before{
        left: 0;
    }
    &:after {
        transform: rotate3d(0,1,0,180deg);
        right: 0;
    }
    &__inner {
        margin: 0 auto;
        width: 1200px;
    }
}

@include width-1400 {
    .header-wrapper {
        &:before,&:after {
            background: none;
        }
    }
}