.header {
    background: $color-dark-blue;
    min-height: 192px;
    margin: 0 -9999px;
    padding: 0 9999px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &__logo {
        text-indent: -9999px;
        background: url(../images/logo.png) no-repeat;
        width: 228px;
        height: 178px;
        margin-right: 48px;
        margin-top: 1px;
    }

}
@include width-1200 {
    .header{
        margin: 0;
        padding: 0;
        &__logo {
            margin-right: 0;
        }
    }

}