.publications {
    .product-in-chat__wrapper {
        flex-wrap: wrap;
    }
    .product-in-chat__details {
        margin-bottom: 20px;
    }
    .dialog-admin__content {
        flex-basis: 100%;
    }
}