.register {
    flex: 1 1 50%;
    box-sizing: border-box;
    max-width: 355px;
    padding: 16px;
    &__title {
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 20px;
        &--centered {
            text-align: center;
        }
    }
    &__wrapper {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: $color-dark-blue;
        color: $color-white;
        margin: 0 -9999px;
        padding: 0 9999px;
        .button__holder {
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            max-height: 45px;
            .button {
                display: inline-block;
                border: 1px solid $color-white;
                margin-left: 50%;
                &--centered {
                    margin-left: 0;
                }
            }
        }
    }
    &__list {
        margin-bottom: 20px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    input {
        height: 30px;
        padding: 0 5px;
    }
    .checkbox__custom-checkbox {
        background-position: 0 -1439px;
    }
    .checkbox {
        &__input {
            &:checked + .checkbox__custom-checkbox {
                background-position: 0 -1393px;
            }
        }
        &__text {
            margin-right: 20px;
        }
    }
    .forget {
        font: 16px $font;
        color: $color-white;
        margin-bottom: 30px;
        display: inline-block;
        &:hover {
            color: $color-yellow;
        }
    }
}