.size {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 18px;
    &__list{
        display: flex;
        margin-top: -7px;
    }
    &__title {
        margin-right: 73px;
    }
    &__link {
        font-size: 17px;
        border: 1px solid transparent;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}