.social {
    display: flex;
    margin-bottom: 41px;
    a {
        display: block;
        width: 59px;
        height: 59px;
    }
    .facebook {
        background-position: 0 -995px;

        &:hover {
            background-position: 0 -1237px;
            animation: shaking .3s linear 2;
        }
    }
    .twitter {
        background-position: 0 -883px;
        &:hover {
            background-position:  0 -1152px;
            animation: shaking .3s linear 2;
        }
    }
    .google {
        background-position:  0 -797px;
        &:hover {
            background-position: 0 -1074px;
            animation: shaking .3s linear 2;
        }
    }
    &__item {
        margin-right: 42px;
        &:last-child {
            margin: 0;
        }
    }
}

@keyframes shaking {

    0%, 100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

}