.statistics {
    margin-top: 40px;
    &__table {
        border-collapse: collapse;
        width: 100%;
        caption {
            margin-bottom: 30px;
            font-size: 24px;
        }
        tr,
        th {
            border: 1px solid $color-dark-blue;
            padding: 15px 5px;
            text-align: center;
        }
        td {
            padding: 15px 5px;
            position: relative;
        }
        th {
            background: $color-dark-blue;
            color: $color-white;
        }
        .bg-check:after {
            content: "";
            width: 28px;
            height: 28px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-position: 0 -353px;;
        }

    }
}
@include tablet {
    .statistics {
        overflow-x: auto;
    }
}