.terms-conditions {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: $color-white;
    background: $color-dark-blue;
    margin: 0 -9999px;
    padding: 20px 9999px;
    text-align: justify;
    &__title {
        font-size: 24px;
        margin-bottom: 30px;
    }
}