.title {
    text-transform: uppercase;
    font: 24px/30px $font_roman_bold;
    color: $color-dark-blue;
    border-bottom: 4px solid $color-dark-blue;
    display: inline-block;
    margin-bottom: 20px;
}