@font-face {
  font-family: 'BodoniFLF-Roman';
  src: url("../fonts/BodoniFLF-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/BodoniFLF-Roman.woff") format("woff"), url("../fonts/BodoniFLF-Roman.ttf") format("truetype"), url("../fonts/BodoniFLF-Roman.svg#BodoniFLF-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BodoniFLF-Bold';
  src: url("../fonts/BodoniFLF-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BodoniFLF-Bold.woff") format("woff"), url("../fonts/BodoniFLF-Bold.ttf") format("truetype"), url("../fonts/BodoniFLF-Bold.svg#BodoniFLF-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Candara';
  src: url("../fonts/Candara.eot?#iefix") format("embedded-opentype"), url("../fonts/Candara.woff") format("woff"), url("../fonts/Candara.ttf") format("truetype"), url("../fonts/Candara.svg#Candara") format("svg");
  font-weight: normal;
  font-style: normal; }

.arrow,
.header-basket__link,
.checkbox__custom-checkbox,
.to-basket,
.more-info,
.facebook,
.twitter,
.google,
.user-tab__shortcut:after {
  background: url("../images/sprite.png") no-repeat; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

input:focus,
input:active {
  outline: 0; }

html,
body {
  height: 100%; }

.hidden {
  display: none !important; }

body {
  font: 16px/20px Candara, Arial, sans-serif;
  min-width: 320px; }

.wrapper {
  margin: 0 auto;
  max-width: 1198px;
  width: 100%; }
  .wrapper--footer {
    margin: 0 auto;
    max-width: 1198px;
    width: 100%; }
  .wrapper--outer {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .wrapper--contacts {
    height: 100%; }

.scroll-handler {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.title {
  text-transform: uppercase;
  font: 24px/30px BodoniFLF-Bold, Arial, sans-serif;
  color: #140c3b;
  border-bottom: 4px solid #140c3b;
  display: inline-block;
  margin-bottom: 20px; }

.header {
  background: #140c3b;
  min-height: 192px;
  margin: 0 -9999px;
  padding: 0 9999px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .header__logo {
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat;
    width: 140px;
    height: 131px;
    margin-right: 48px;
    margin-top: 1px; }

@media screen and (max-width: 1400px) {
  .header {
    margin: 0;
    padding: 0 110px; }
    .header__logo {
      margin: 0 10px;
      -ms-flex-negative: 0;
          flex-shrink: 0; } }

@media screen and (max-width: 770px) {
  .header {
    padding: 0; } }

.header-wrapper {
  width: 100%;
  position: relative; }
  .header-wrapper:before, .header-wrapper:after {
    content: '';
    background: url("../images/header-bg.png") no-repeat;
    height: 100%;
    width: 116px;
    position: absolute;
    top: 0;
    background-size: contain;
    z-index: 1; }
  .header-wrapper:before {
    left: 0; }
  .header-wrapper:after {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
            transform: rotate3d(0, 1, 0, 180deg);
    right: 0; }
  .header-wrapper__inner {
    margin: 0 auto;
    width: 1200px; }

@media screen and (max-width: 1400px) {
  .header-wrapper__inner {
    width: 100%; } }

@media screen and (max-width: 770px) {
  .header-wrapper:before, .header-wrapper:after {
    background: none;
    z-index: 0; } }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 37%;
  margin-left: 25px;
  margin-top: 20px; }
  .header-nav__link {
    color: #fff;
    font: 18px BodoniFLF-Roman, Arial, sans-serif; }
  .header-nav__item {
    position: relative;
    padding-bottom: 20px; }
    .header-nav__item:hover .header-nav__link {
      color: #e5bd62; }
    .header-nav__item:hover .dropdown {
      display: block; }

@media screen and (max-width: 1220px) {
  .header-nav {
    width: 55%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.header-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33.6%;
  margin-right: 25px; }
  .header-basket__link {
    color: #fff;
    font: 18px BodoniFLF-Roman, Arial, sans-serif;
    padding: 9px 5px 9px 50px; }
    .header-basket__link:hover {
      color: #e5bd62; }
  .header-basket__item:last-child .header-basket__link {
    background-position: 0 -45px; }
    .header-basket__item:last-child .header-basket__link:hover {
      background-position: 0 -197px; }
  .header-basket__item:nth-child(2) .header-basket__link {
    background-position: 0 0; }
    .header-basket__item:nth-child(2) .header-basket__link:hover {
      background-position: 0 -150px; }
  .header-basket__item:first-child .header-basket__link {
    background-position: 0 -103px; }
    .header-basket__item:first-child .header-basket__link:hover {
      background-position: 0 -256px; }

.basket {
  position: relative; }
  .basket__counter {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -22px;
    left: 24px;
    border-radius: 50%;
    background: #fff;
    color: #0b311c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font: 20px BodoniFLF-Bold, Arial, sans-serif; }

@media screen and (max-width: 1220px) {
  .header-basket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto; }
    .header-basket__item {
      margin-bottom: 25px; } }

.filters {
  width: 222px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #e5bd62;
  padding: 16px 20px;
  height: 100%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09); }

@media screen and (max-width: 550px) {
  .filters {
    width: 100%; } }

.filter-by {
  font: 20px Candara, Arial, sans-serif;
  margin-bottom: 20px; }
  .filter-by__title {
    text-transform: uppercase;
    font: 24px/30px BodoniFLF-Bold, Arial, sans-serif;
    color: #140c3b;
    border-bottom: 4px solid #140c3b;
    display: inline-block;
    padding: 0 0 4px 9px;
    margin: 0 -20px 24px; }
  .filter-by__item {
    margin-bottom: 9px; }
    .filter-by__item .arrow {
      float: right;
      margin: 9px 16px 0 0;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
      cursor: pointer; }
  .filter-by__link {
    font: 20px Candara, Arial, sans-serif;
    color: #0b311c; }
    .filter-by__link:hover {
      color: #bd964f; }
  .filter-by__counter, .filter-by__quantity {
    float: right; }
  .filter-by__slider {
    margin: 13px 0 0; }
  .filter-by__range-text {
    margin-top: 9px;
    font: 18px BodoniFLF-Bold, Arial, sans-serif;
    color: #0b311c !important;
    text-align: right;
    width: 100%; }

.dropdown {
  padding: 10px 0 10px 21px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .dropdown__link {
    font: 20px Candara, Arial, sans-serif;
    color: #0b311c; }
  .dropdown__item {
    margin-bottom: 16px; }
    .dropdown__item:last-child {
      margin: 0; }
  .dropdown--header {
    position: absolute;
    left: -12px;
    top: 36px;
    padding: 13px 0 0;
    background: #140c3b;
    border-top: 1px gold solid;
    min-width: 100px;
    z-index: 100;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }
    .dropdown--header .dropdown__link {
      font-size: 14px;
      color: #fff; }
    .dropdown--header .dropdown__item {
      padding-left: 15px;
      margin-bottom: 20px;
      min-width: 100px;
      box-sizing: border-box; }
  .selected .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.arrow {
  width: 10px;
  height: 6px;
  background-position: 0 -411px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: block; }
  .selected .arrow {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }

.checkbox {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 5px 0;
  cursor: pointer;
  margin-bottom: 8px; }
  .checkbox__input {
    position: absolute;
    left: -30px;
    height: 0; }
    .checkbox__input:checked + .checkbox__custom-checkbox {
      background-position: 0 -353px; }
  .checkbox__custom-checkbox {
    display: block;
    width: 28px;
    height: 28px;
    background-position: 0 -304px;
    float: right;
    margin: -2px 6px 0 0; }

.ui-slider .ui-slider-handle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: #b88d3a;
  cursor: pointer; }
  .ui-slider .ui-slider-handle:active, .ui-slider .ui-slider-handle:focus {
    outline: 0; }

.ui-slider-horizontal {
  height: 1px;
  background: #cdcdcd; }

.ui-slider-range {
  background: #b88d3a; }

.main-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 51px;
  margin-bottom: 51px; }

@media screen and (max-width: 1220px) {
  .main-part {
    padding: 0 7px; } }

@media screen and (max-width: 550px) {
  .main-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.gallery {
  width: 79.7%;
  margin-left: 10px; }
  .gallery__sort {
    background: #0b311c;
    width: 100%;
    height: 40px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 37px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    padding: 0 0 0 26px;
    box-sizing: border-box; }
    .gallery__sort .gallery__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .gallery__sort .arrow {
      background-position: 0 -442px;
      margin-left: 20px; }
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .gallery__items {
    margin-bottom: 41px;
    position: relative;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09); }
    .gallery__items .availability {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 66px;
      height: 66px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 14px;
      color: #fff;
      background: #0b311c;
      border-radius: 50%; }
    .gallery__items > .colors {
      position: absolute;
      top: 143px;
      left: 5px; }
      .gallery__items > .colors .colors__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .gallery__items > .colors .colors__items {
        margin: 0 0 5px 0; }
    .gallery__items--selected .product-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .gallery__items:hover .gallery__modal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #e5bd62;
    font: 20px Candara, Arial, sans-serif;
    color: #0b311c; }
    .gallery__item img {
      width: 219px;
      height: 261px;
      border-bottom: 1px solid #e5bd62;
      margin-bottom: 20px; }
    .gallery__item .price {
      font-size: 24px;
      color: #e5bd62;
      margin-bottom: 20px; }
    .gallery__item .title {
      margin-bottom: 2px;
      font: 20px Candara, Arial, sans-serif;
      border: 0;
      text-transform: none; }
  .gallery__modal {
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 219px;
    height: 261px;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .gallery__modal .to-basket,
    .gallery__modal .more-info {
      margin-top: -5px;
      width: 51px;
      height: 51px;
      display: block;
      cursor: pointer; }
      .gallery__modal .to-basket:hover,
      .gallery__modal .more-info:hover {
        -webkit-animation: shaking .3s linear 2;
                animation: shaking .3s linear 2; }
    .gallery__modal .to-basket {
      background-position: 0 -479px;
      margin-right: 25px; }
    .gallery__modal .more-info {
      background-position: 0 -562px; }
  .gallery .button--icon {
    border-color: #0b311c; }
    .gallery .button--icon span {
      color: #0b311c; }
    .gallery .button--icon svg path {
      fill: #0b311c; }
  .gallery .buttons-holder {
    margin-bottom: 30px; }

@-webkit-keyframes shaking {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); } }

@keyframes shaking {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); } }

@media screen and (max-width: 1220px) {
  .gallery__list {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media screen and (max-width: 550px) {
  .gallery {
    width: 100%; } }

.pager {
  width: 100%;
  overflow: hidden;
  margin-top: -26px;
  padding-right: 8px; }
  .pager__list {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px; }
  .pager__link {
    font: 18px Candara, Arial, sans-serif;
    color: #0b311c; }
    .pager__link:hover {
      color: #e5bd62; }
  .pager__item {
    margin-left: 7px; }

.product-card {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 12, 59, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100; }
  .product-card__wrapper {
    width: 710px;
    height: 555px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 27px;
    box-sizing: border-box;
    position: relative; }
  .product-card .image-continer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 285px; }
    .product-card .image-continer .big-image {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      width: 285px;
      height: 345px;
      display: block;
      margin-bottom: 21px; }
    .product-card .image-continer .small-img {
      width: 90px;
      height: 120px;
      display: block; }
  .product-card__title {
    text-transform: uppercase;
    font: 24px/24px Candara, Arial, sans-serif;
    color: #0b311c;
    margin: -5px 0 11px; }
  .product-card__close-icon {
    position: absolute;
    top: 0;
    right: -33px;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer; }
  .product-card .product-details {
    font-size: 18px;
    width: 52%; }
    .product-card .product-details .price {
      color: #e5bd62;
      font-size: 24px;
      display: block;
      margin-bottom: 31px; }
    .product-card .product-details .type {
      display: block;
      margin-bottom: 8px; }
    .product-card .product-details .gender {
      display: block;
      margin-bottom: 30px; }
    .product-card .product-details .description {
      line-height: 22px;
      margin-bottom: 27px; }
    .product-card .product-details .material {
      font-size: 20px;
      margin-bottom: 22px;
      display: block; }
      .product-card .product-details .material span {
        margin-left: 20px; }
    .product-card .product-details .quantity {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 42px; }
      .product-card .product-details .quantity__title {
        margin-right: 46px; }
      .product-card .product-details .quantity .less,
      .product-card .product-details .quantity .more {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border: 1px solid #0b311c;
        cursor: pointer;
        width: 25px;
        height: 23px; }
        .product-card .product-details .quantity .less:hover,
        .product-card .product-details .quantity .more:hover {
          background: #0b311c;
          color: #fff; }
      .product-card .product-details .quantity input {
        width: 31px;
        height: 25px;
        border: 0;
        border-top: 1px solid #0b311c;
        border-bottom: 1px solid #0b311c;
        box-sizing: border-box;
        text-align: center; }
  .product-card--new-product .product-card__title {
    display: inline-block; }
  .product-card--new-product .product-details .price {
    display: inline-block; }

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px; }
  .colors__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .colors__title {
    font-size: 20px;
    margin-right: 50px; }
  .colors__links {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #afafaf;
    display: block;
    cursor: pointer; }
    .colors__links:hover {
      border: 1px solid #e5bd62; }
    .colors__links--active {
      border: 1px solid #e5bd62; }
  .colors__items {
    margin-right: 15px; }
    .colors__items:nth-child(1) .colors__links {
      background: #cdcdcd; }
    .colors__items:nth-child(2) .colors__links {
      background: #6c000a; }
    .colors__items:nth-child(3) .colors__links {
      background: #004e49; }
    .colors__items:nth-child(4) .colors__links {
      background: #fff; }
    .colors__items .active {
      border: 1px solid #e5bd62; }

.size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin-bottom: 18px; }
  .size__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -7px; }
  .size__title {
    margin-right: 73px; }
  .size__link {
    font-size: 17px;
    border: 1px solid transparent;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.button {
  text-transform: uppercase;
  color: #fff;
  background: #140c3b;
  padding: 11px 11px 13px 15px;
  border-radius: 18px;
  margin-right: 4px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap; }
  .button:hover {
    background: #0b311c; }
  .button--float-right {
    float: right; }
  .button--red {
    background: #660800;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear; }
    .button--red:hover {
      background: #FF1300;
      -webkit-transition: all 150ms linear;
      transition: all 150ms linear; }
  .button--green {
    background: #197328;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear; }
    .button--green:hover {
      background: #4CD964;
      -webkit-transition: all 150ms linear;
      transition: all 150ms linear; }
  .button--icon {
    background: none;
    border: 1px solid #fff; }
    .button--icon:hover {
      background: none; }
      .button--icon:hover svg {
        -webkit-animation: hvr-icon-pulse-grow 0.3s linear infinite;
                animation: hvr-icon-pulse-grow 0.3s linear infinite;
        -webkit-animation-direction: alternate;
                animation-direction: alternate; }
    .button--icon span {
      vertical-align: middle;
      margin-right: 10px; }
    .button--icon svg {
      display: inline-block;
      vertical-align: middle;
      -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
      -webkit-transform: translateZ(0);
              transform: translateZ(0); }
      .button--icon svg path {
        fill: #fff; }

.buttons-holder {
  display: inline-block;
  width: 100%; }
  .buttons-holder--selected .product-card--new-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@-webkit-keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .footer__items {
    padding: 65px 9999px;
    margin: 0 -9999px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #140c3b; }
  .footer__copyright {
    background: #cfa659;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 36px 9999px 42px;
    margin: 0 -9999px; }

@media screen and (max-width: 1220px) {
  .footer__items {
    padding: 65px 0;
    margin: 0; }
  .footer__copyright {
    padding: 36px 0 42px;
    margin: 0; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 41px; }
  .social a {
    display: block;
    width: 59px;
    height: 59px; }
  .social .facebook {
    background-position: 0 -995px; }
    .social .facebook:hover {
      background-position: 0 -1237px;
      -webkit-animation: shaking .3s linear 2;
              animation: shaking .3s linear 2; }
  .social .twitter {
    background-position: 0 -883px; }
    .social .twitter:hover {
      background-position: 0 -1152px;
      -webkit-animation: shaking .3s linear 2;
              animation: shaking .3s linear 2; }
  .social .google {
    background-position: 0 -797px; }
    .social .google:hover {
      background-position: 0 -1074px;
      -webkit-animation: shaking .3s linear 2;
              animation: shaking .3s linear 2; }
  .social__item {
    margin-right: 42px; }
    .social__item:last-child {
      margin: 0; }

@keyframes shaking {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); } }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px; }
  .footer-nav__link {
    font-size: 24px;
    color: #fff; }
    .footer-nav__link:hover {
      color: #e5bd62; }
  .footer-nav__item {
    margin-right: 63px; }
    .footer-nav__item:last-child {
      margin: 0; }

@media screen and (max-width: 550px) {
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-nav__item {
      margin: 0 0 20px; } }

.about-us {
  margin: 0 0 50px; }
  .about-us__title {
    background: #140c3b;
    color: #e5bd62;
    font-size: 32px;
    margin: 0 -9999px;
    padding: 50px 9999px;
    text-align: center;
    position: relative;
    font-family: BodoniFLF-Bold, Arial, sans-serif;
    margin-bottom: 50px; }

.what-is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px; }
  .what-is__text {
    font: 20px/26px Candara, Arial, sans-serif; }
  .what-is__wrapper {
    width: 60%; }
  .what-is__image {
    background: url(../images/machines.jpg) no-repeat;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    display: block;
    background-size: contain;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09); }
  .what-is__title {
    margin-bottom: 20px; }

.company-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .company-history__image {
    width: 320px;
    height: 565px;
    display: block;
    background: url("../images/manikin.jpg") no-repeat;
    background-size: cover;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-position: right; }
    .company-history__image--second {
      background: url("../images/scarf.jpg") no-repeat;
      background-size: 176%; }
  .company-history__title {
    color: #e5bd62;
    border-color: #e5bd62;
    margin-bottom: 20px; }
  .company-history__content {
    background: #140c3b;
    color: #fff;
    padding: 10px; }
  .company-history__text {
    font: 20px Candara, Arial, sans-serif; }

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  .contact-us__contacts, .contact-us__manager {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 7%; }
  .contact-us__contacts {
    -webkit-box-align: end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
    padding-right: 80px;
    text-align: right; }
  .contact-us__manager {
    background: #140c3b;
    color: #fff;
    padding: 7% 9999px 0 80px;
    margin-right: -9999px; }
    .contact-us__manager--title {
      color: #fff;
      border-color: #fff;
      white-space: nowrap; }

.dialog-admin {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #e5bd62; }
  .dialog-admin__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 90px; }
  .dialog-admin__buttons-holder {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .dialog-admin__buttons--transparent {
    background: transparent;
    border: 1px solid #140c3b;
    color: #140c3b; }
    .dialog-admin__buttons--transparent:hover {
      background: #140c3b;
      color: #fff; }
  .dialog-admin__buttons--square {
    border-radius: 0;
    background: #0b311c; }
    .dialog-admin__buttons--square:hover {
      background: #4e7760; }
  .dialog-admin__vertical-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .dialog-admin__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%; }
    .dialog-admin__aside .dialog-admin__buttons-holder {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100%;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .dialog-admin__aside .dialog-admin__buttons-holder .button {
        margin-bottom: 30px; }
  .dialog-admin__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
  .dialog-admin__inner-aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%; }
  .dialog-admin__content-wrapper {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%; }
  .dialog-admin__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #e5bd62;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09); }
    .dialog-admin__content--resolved {
      width: 100%;
      border: 0;
      box-shadow: none; }
      .dialog-admin__content--resolved .dialog-admin__content {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 85%;
                flex: 0 1 85%; }
      .dialog-admin__content--resolved .dialog-admin__content-wrapper {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
      .dialog-admin__content--resolved .product-in-chat {
        padding: 20px 40px; }
  .dialog-admin__link {
    color: #0b311c;
    font-size: 20px;
    padding: 15px;
    display: inline-block; }
    .dialog-admin__link:hover {
      color: #e5bd62; }
  .dialog-admin__item {
    border-bottom: 1px solid #e5bd62; }
    .dialog-admin__item:last-child {
      border-bottom: 0; }
  .dialog-admin .button__holder {
    overflow: hidden; }
    .dialog-admin .button__holder .button {
      display: inline-block;
      float: right; }
  .dialog-admin__progress {
    padding-left: 20px;
    position: relative; }
    .dialog-admin__progress:before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      background: #145e35;
      width: 15px;
      height: 15px;
      border-radius: 50%; }
    .dialog-admin__progress--notstarted:before {
      background: #df0024; }
    .dialog-admin__progress--onhold:before {
      background: #f8f400; }

#tab-resolved {
  display: none;
  width: 100%; }

@media screen and (max-width: 1400px) {
  .dialog-admin {
    margin-right: 35px; } }

.product-in-chat {
  font: 18px/23px Candara, Arial, sans-serif;
  border-bottom: 1px solid #e5bd62;
  padding: 20px 40px 20px 0; }
  .product-in-chat__title {
    text-transform: uppercase;
    margin-bottom: 20px; }
  .product-in-chat__image {
    height: 120px;
    width: 100px;
    background: url("../images/item-card1.png") no-repeat;
    background-size: contain;
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .product-in-chat__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product-in-chat__item:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-transform: uppercase; }
  .product-in-chat__item div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .product-in-chat__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .product-in-chat__text--price {
    font-size: 36px;
    color: #e5bd62; }
  .product-in-chat__text span {
    color: #e5bd62; }
  .product-in-chat__status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

.message-in-chat {
  position: relative;
  padding: 10px 10px 10px 100px; }
  .message-in-chat__date {
    float: right;
    color: #e5bd62; }
  .message-in-chat__name {
    font-weight: 700;
    margin-bottom: 15px;
    display: inline-block; }
  .message-in-chat__image {
    position: absolute;
    left: 0;
    top: 15px;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%; }
  .message-in-chat__input {
    width: 100%;
    border-top: 1px solid #e5bd62;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
    .message-in-chat__input textarea {
      width: 100%;
      box-sizing: border-box;
      border: 0;
      height: 85px; }
      .message-in-chat__input textarea:active, .message-in-chat__input textarea:focus {
        outline: 0; }

.user-tab {
  border: 1px solid #e5bd62;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transform: translate(91%, 0);
          transform: translate(91%, 0);
  padding-left: 30px;
  background: #fff;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2; }
  .user-tab--selected {
    cursor: auto;
    padding: 20px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear; }
    .user-tab--selected .user-tab__title {
      margin-left: -20px;
      padding-left: 20px; }
    .user-tab--selected .user-tab__shortcut {
      display: none; }
  .user-tab__image {
    position: static;
    height: 140px;
    width: 140px; }
  .user-tab__shortcut {
    -webkit-transform: rotate(270deg) translate(-46%, -813%);
            transform: rotate(270deg) translate(-46%, -813%);
    width: 296px;
    position: relative;
    cursor: pointer;
    text-align: center; }
    .user-tab__shortcut:after {
      position: absolute;
      top: 6px;
      right: 35%;
      content: '';
      background-position: 0 -411px;
      width: 10px;
      height: 6px;
      display: inline-block;
      -webkit-animation: usertab 1s infinite;
              animation: usertab 1s infinite; }
  .user-tab .product-card__close-icon {
    top: 5px;
    right: 5px;
    color: #140c3b; }
  .user-tab__link {
    color: #140c3b;
    font-size: 20px;
    padding: 10px;
    display: inline-block; }
    .user-tab__link:hover {
      color: #e5bd62; }

@-webkit-keyframes usertab {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%); }
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); } }

@keyframes usertab {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%); }
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); } }

.register {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  box-sizing: border-box;
  max-width: 355px;
  padding: 16px; }
  .register__title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px; }
  .register__wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #140c3b;
    color: #fff;
    margin: 0 -9999px;
    padding: 0 9999px; }
    .register__wrapper .button__holder {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-height: 45px; }
      .register__wrapper .button__holder .button {
        display: inline-block;
        border: 1px solid #fff;
        margin-left: 50%; }
  .register__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px; }
  .register input {
    height: 30px;
    padding: 0 5px; }

.terms-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #fff;
  background: #140c3b;
  margin: 0 -9999px;
  padding: 20px 9999px;
  text-align: justify; }
  .terms-conditions__title {
    font-size: 24px;
    margin-bottom: 30px; }

.user-profile {
  max-width: 750px;
  font-size: 20px; }
  .user-profile__title {
    font-size: 24px; }
    .user-profile__title--centered {
      text-align: center; }
  .user-profile__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .user-profile__wrapper--edit .user-profile__item {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .user-profile__wrapper--edit .user-profile__item span {
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto; }
  .user-profile__image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 40px; }
  .user-profile__image {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: auto;
    margin-bottom: 20px; }
  .user-profile__fields {
    display: inline-block;
    vertical-align: top; }
  .user-profile__list {
    width: 100%;
    margin-bottom: 35px; }
  .user-profile__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .user-profile__item:last-child {
      margin-bottom: 0; }
    .user-profile__item span {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 38%;
              flex: 0 0 38%;
      margin-right: 50px; }
  .user-profile__input {
    height: 30px;
    padding: 0 5px; }
  .user-profile__name {
    font-size: 22px;
    color: #e5bd62; }
  .user-profile .buttons-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .user-profile .buttons-holder--noflex {
      display: inline-block;
      width: 100%; }

.checkout {
  margin: 30px 0; }
  .checkout__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: BodoniFLF-Roman, Arial, sans-serif; }
  .checkout__wrapper {
    border: 1px solid #e5bd62;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 30px; }
  .checkout .product-in-chat {
    padding: 20px 40px; }

.add-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .add-product__item span {
    margin: 0; }
  .add-product__item textarea {
    max-width: 250px; }

.add-product__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 250px;
  width: 100%; }
  .add-product__colors .checkbox__text {
    margin-right: 10px; }
  .add-product__colors label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px; }

.add-product__add-image {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .add-product__add-image--big {
    fill: #0b311c;
    width: 285px;
    height: 285px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .add-product__add-image--big:hover {
      fill: #e5bd62;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  .add-product__add-image--small {
    fill: #0b311c;
    width: 90px;
    height: 90px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .add-product__add-image--small:hover {
      fill: #e5bd62;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }

.add-product .product-card__wrapper {
  height: auto; }
